@font-face {
    font-family: 'Lato';
    src: url('../../../assets/Lato-Regular.ttf');
}
@font-face {
    font-family: 'jetbrains mono';
    src: url('../../../assets/JetBrainsMonoNL-Regular.ttf');
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato';
    background-color: #E4DCCF;
    color: #002B5B;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 40px;
    position: relative;
}
section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
button{
    width: 100px;
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    background-color: #EA5455;
    opacity: 0.9;
    border-radius: 5px;
    border: none;
}
button:hover{
    opacity: 1;
    cursor: pointer;
}
img {
    width: 35px;
}
.disabled-btn:hover{
    cursor: not-allowed;
    opacity: 0.9;
}
.title{
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    top: -15px;
    left: 0px;
    font-weight: bold;
    color: #002B5B;
}

 /* Header */
.header{
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
}

#back-btn:hover{
    cursor: pointer;
}
.footer-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#header-options{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
#header-options div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px 15px;
    align-self: stretch;
}
#header-options input[type=checkbox]{
    width: 20px;
    height: 20px;
    accent-color: #EA5455;
}
#header-options input[type=text]{
    width: 100px;
    padding: 10px 15px;
    border: none;
    font-family: inherit;
    font-weight: bolder;
    border-radius: 5px;;
    font-size: 14px;
}
#header-options input[type=text]:focus-visible{
    outline: 2px solid #EA5455;
}
#header-options button{
    width: fit-content;
}

 /* Form styling */
.add-process-form{
    display: flex;
    justify-content: space-between;
    gap: 10px
}
#new-process-form input{
    padding: 10px 15px;
    width: fit-content;
    width: 100%;
    border: none;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;;
    font-size: 14px;
}
#new-process-form input:focus-visible{
    outline: 2px solid #EA5455;
}
#new-process-form{
    display: flex;
    flex: 1;
    gap: 10px;
}

/* Table styling */
.processes-table{
    max-height: 40%;
}
.tabulator-headers {
    font-size: 18px;
    background-color: #ea54541a;
}
.tabulator-row{
    font-size: 16px;
}
.tabulator-row-even .tabulator-cell{
 background-color: #ea545413;
}

/* Chart */
#chart-container {
    padding: 20px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.chart-segment{
    flex-shrink: 0;
    width: 70px;
    color: white;
    padding: 10px;
    position: relative;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'jetbrains mono';
}
.live-chart-segment{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.chart-segment-start-time {
    color: #002B5B;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    top: -15px;
    left: 0;
}
.chart-segment-end-time {
    color: #002B5B;
    font-weight: bolder;
    font-size: 10px;
    position: absolute;
    top: -15px;
    right: 0;
}
.segment-remaining-time{
    /* font-weight: 300; */
    font-size: 10px;
}

.final-calculations{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.final-calculations span{
    font-weight: bolder;
}

/* Scroll bar */
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius:  50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  